

/*  TABLE OF CONTENTS
    ---------------------------
    1. Generic styles
    2. Header
    3. Nav
    4. First section
    5. Education section
    6. Experience section
    7. Work section
    8. Princing section
    9. Reference section
    10. Blog
    11. Post page
    12. Footer/Copyright
    13. Modals
    14. Skills section
*/



/* -------------------------------------------

1. Generic styles

------------------------------------------- */

  body {
    color: #000000;
  }
  p,
  span {
    line-height: 1.8;
  }
  .lrs-section {
    padding: 5% 0 15%;
  }
  .nr-heading-title {
    font-size: 24px;
  }
  .overflow-hidden {
    overflow: hidden;
  }
  .btn-modern {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 0 10px 0;
    transition: 0.5s;
    color: #d6ab60;
    font-size: 16px;
  }
  .btn-modern::before {
    content: '';
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 25px;
    height: 2px;
    background: #d6ab60;
    transition: 0.5s;
  }
  .btn-modern:hover {
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    color: #d6ab60;
  }
  .btn-modern:hover::before {
    width: 100%;
    transition: 0.5s;
  }
  .btn-modern:hover::after {
    transition: 0.5s;
  }
  .dismiss-modal {
    position: fixed;
    right: 25px;
    top: 25px;
    z-index: 999;
    font-size: 20px;
    border: 1px solid;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
  }
  .dismiss-modal::before {
    display: none;
  }
  .lrs-angle {
    position: relative;
    display: inline-block;
    padding: 80px 0 0;
    width: 100%;
    overflow: hidden;
    margin-top: -80px;
  }
  .lrs-angle .lrs-angle-div {
    background: #f3f3f3;
    padding-bottom: 160px;
  }
  .lrs-angle .lrs-angle-div::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-left: 70vw solid transparent;
    border-right: 30vw solid transparent;
    border-bottom: 80px solid #f3f3f3;
  }
  .lrs-angle .lrs-angle-div::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 70vw solid transparent;
    border-right: 30vw solid transparent;
    border-bottom: 80px solid #ffffff;
  }


/* -------------------------------------------

2. Header

------------------------------------------- */

  .lrs-header {
    margin: 0 auto;
    height: 100px;
    background: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 999;
    left: 0;
    top: 0;
    box-shadow: 0 5px 20px -15px #000000;
    transition: 0.5s;
  }



/* -------------------------------------------

3. Nav

------------------------------------------- */

  .lrs-header .navbar {
    padding: 0;
    background: #ffffff;
    border: none;
  }
  .lrs-header .navbar .navbar-header {
    height: 100px;
    margin-left: 15px;
    transition: 0.5s;
  }
  .lrs-header .navbar .navbar-header .navbar-brand {
    height: 100%;
    padding: 0;
  }
  .lrs-header .navbar .navbar-header .navbar-brand .brand {
    margin: 0;
    line-height: 100px;
    font-family: 'Yellowtail', cursive;
    color: #000000;
    transition: 0.5s;
    font-size: 36px;
  }
  .lrs-header .navbar .navbar-collapse .nav .lrs-link-nav {
    line-height: 100px;
    margin: 0 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    transition: 0.5s;
  }
  .lrs-header .navbar .navbar-collapse .nav .lrs-link-nav:last-child {
    margin-right: 0;
  }
  .lrs-header.stiky {
    height: 60px;
    transition: 0.5s;
  }
  .lrs-header.stiky .navbar .navbar-header {
    height: 60px;
    transition: 0.5s;
  }
  .lrs-header.stiky .navbar .navbar-header .navbar-brand .brand {
    line-height: 60px;
    transition: 0.5s;
  }
  .lrs-header.stiky .navbar .navbar-collapse .nav a {
    line-height: 60px;
    transition: 0.5s;
  }




/* -------------------------------------------

4. First section

------------------------------------------- */

  .lrs-first-section {
    height: 100vh;
    display: flex;
    background-image: -webkit-repeating-radial-gradient(center center, #f3f3f3, #f3f3f3 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, #f3f3f3, #f3f3f3 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, #f3f3f3, #f3f3f3 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, #f3f3f3, #f3f3f3 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 5px 5px;
    -moz-background-size: 5px 5px;
    background-size: 5px 5px;
    overflow: hidden;
  }
  .lrs-first-section .left {
    transition: 0.5s;
    padding-left: 0;
  }
  .lrs-first-section .left .title {
    font-weight: 100;
  }
  .lrs-first-section .left .subtitle {
    font-size: 16px;
  }
  .lrs-first-section .right {
    transition: 0.5s;
    top: 5vh;
  }
  .info {
    background: #ffffff;
    padding: 17px 25px;
    margin-top: -15px;
    box-shadow: 0 15px 20px -20px;
  }
  .info li {
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight: 300;
  }
  .info li:last-child {
    margin: 0;
    padding: 0;
    border: none;
  }
  .info li span {
    font-weight: bold;
    letter-spacing: 0.5px;
  }
  .interests {
    text-align: center;
  }
  .interests ul {
    margin-bottom: 0;
  }
  .interests ul li {
    margin: 15px 15px 0;
    transition: 0.5s;
  }
  .interests ul li:hover {
    color: #d6ab60;
  }
  .interests .tooltip.bottom {
    background: #d6ab60;
  }
  .interests .lrs-tooltip-1 {
    border: none;
  }
  .interests .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #d6ab60;
  }





/* -------------------------------------------

5. Education section

------------------------------------------- */

  #education {
    position: relative;
  }
  #education .timeline {
    position: relative;
    overflow: hidden;
  }
  #education .timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #bfbfbf;
    z-index: 1;
    display: block;
  }
  #education .timeline-block {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    clear: both;
    z-index: 1;
  }
  #education .timeline-block-right {
    float: right;
    position: relative;
    left: -8px;
  }
  #education .timeline-block-left {
    float: left;
    direction: rtl;
    position: relative;
    left: 8px;
  }
  #education .marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background: #d6ab60;
    margin-top: 10px;
    z-index: 9999;
  }
  #education .timeline-content {
    width: 95%;
    padding: 0 15px;
    color: #000000;
  }
  #education .timeline-content h5 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #d6ab60;
  }
  #education .timeline-content span {
    font-size: 15px;
    color: #000;
    font-weight: bold;
    letter-spacing: 0.5px;
  }
  #education .timeline-content p {
    line-height: 1.5em;
    word-spacing: 1px;
    color: #888;
  }



/* -------------------------------------------

6. Experience section

------------------------------------------- */

  #experience {
    position: relative;
  }
  #experience .timeline {
    position: relative;
    overflow: hidden;
  }
  #experience .timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #bfbfbf;
    z-index: 1;
    display: block;
  }
  #experience .timeline-block {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    clear: both;
    z-index: 1;
  }
  #experience .timeline-block-right {
    float: right;
    position: relative;
    left: -8px;
  }
  #experience .timeline-block-left {
    float: left;
    direction: rtl;
    position: relative;
    left: 8px;
  }
  #experience .marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background: #d6ab60;
    margin-top: 10px;
    z-index: 9999;
  }
  #experience .timeline-content {
    width: 95%;
    padding: 0 15px;
    color: #000000;
  }
  #experience .timeline-content h5 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500;
    color: #d6ab60;
  }
  #experience .timeline-content span {
    font-size: 15px;
    color: #000;
    font-weight: bold;
    letter-spacing: 0.5px;
  }
  #experience .timeline-content p {
    line-height: 1.5em;
    word-spacing: 1px;
    color: #888;
  }


/* -------------------------------------------

7. Work section

------------------------------------------- */

  #work .lrs-angle-div {
    padding-left: 15%;
    padding-right: 15%;
  }
  #work .lrs-list-protfolio {
    text-align: center;
  }
  #work .lrs-list-protfolio .fil-cat {
    margin: 0 15px;
    padding: 0;
    font-weight: 400;
    cursor: pointer;
  }
  #work .lrs-list-protfolio .fil-cat.active {
    border-bottom: 2px solid #d6ab60;
    color: #d6ab60;
  }
  #work .lrs-projects {
    margin-top: 30px;
    position: relative;
    -webkit-column-count: 3;
    /* Chrome, Safari, Opera */
    -moz-column-count: 3;
    /* Firefox */
    column-count: 3;
    -webkit-column-gap: 16px;
    /* Chrome, Safari, Opera */
    -moz-column-gap: 16px;
    /* Firefox */
    column-gap: 16px;
  }
  #work .lrs-projects .lrs-project {
    position: relative;
    cursor: pointer;
    padding: 8px 0;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }
  #work .lrs-projects .lrs-project .lrs-project-image {
    position: relative;
  }
  #work .lrs-projects .lrs-project .lrs-project-image * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease;
    transition: all 0.45s ease;
  }
  #work .lrs-projects .lrs-project .lrs-project-content {
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.72);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: #ffffff;
    padding: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  #work .lrs-projects .lrs-project .lrs-project-content .lrs-project-title {
    margin-top: -50px;
    font-weight: 100;
    text-transform: uppercase;
  }
  #work .lrs-projects .lrs-project .lrs-project-content .lrs-project-client {
    margin-top: 100px;
  }
  #work .lrs-projects .lrs-project:hover .lrs-project-content {
    opacity: 1;
  }
  #work .lrs-projects .lrs-project:hover .lrs-project-content .lrs-project-client,
  #work .lrs-projects .lrs-project:hover .lrs-project-content .lrs-project-title {
    margin-top: 0;
  }



/* -------------------------------------------

8. Princing section

------------------------------------------- */

  #pricing {
    position: relative;
  }
  #pricing .lrs-plan {
    border: none;
  }



/* -------------------------------------------

9. Reference section

------------------------------------------- */

  #reference {
    position: relative;
  }
  #reference #quote-carousel {
    padding: 0 10px 30px 10px;
  }
  #reference #quote-carousel .carousel-control {
    background: none;
    color: #b3b3b3;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
    display: none;
  }
  #reference #quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0;
    margin-top: 20px;
    margin-right: -19px;
    height: 150px;
  }
  #reference #quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #b3b3b3;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s ease-in;
    vertical-align: middle;
  }
  #reference #quote-carousel .carousel-indicators .active {
    width: 128px;
    height: 128px;
    opacity: 1;
    transition: all .2s;
  }
  #reference .item blockquote {
    border-left: none;
    margin: 0;
  }
  #reference .item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
  }
  #reference .clients {
    margin-top: 50px;
    display: flex;
  }
  #reference .clients .col-sm-2 {
    margin: auto 0;
    padding: 0 25px;
  }



/* -------------------------------------------

10. Blog

------------------------------------------- */

  .lrs-post {
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
    background: #f3f3f3;
    transition: 0.5s;
    top: 0;
    width: 100%;
  }
  .lrs-post:hover {
    top: -15px;
    transition: 0.5s;
    box-shadow: 0 20px 20px -20px;
  }
  .lrs-post:hover .lrs-post-overlay {
    background: rgba(0, 0, 0, 0.9);
    transition: 0.5s;
  }
  .lrs-post a {
    display: block;
    width: 100%;
  }
  .lrs-post .lrs-post-img {
    object-fit: cover;
    height: 350px;
    width: 100%;
    object-position: center;
  }
  .lrs-post .lrs-post-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  .lrs-post .lrs-post-content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
  }
  .lrs-post .lrs-post-content .lrs-post-categories {
    font-family: serif;
    color: #ffffff;
  }
  .lrs-post .lrs-post-content .lrs-post-description {
    color: #ffffff;
  }
  .lrs-post .lrs-post-content .lrs-post-description.btn-modern {
    margin-top: 25px;
    color: #d6ab60;
  }
  .lrs-post .lrs-post-content .lrs-post-description.btn-modern::before {
    background: #d6ab60;
  }
  .lrs-post .lrs-post-content .lrs-post-description.btn-modern::after {
    border-left: 4px solid #d6ab60;
  }
  .lrs-post .lrs-post-content .lrs-post-title {
    margin-bottom: 15px;
    color: #d6ab60;
    letter-spacing: 1px;
  }
  .nav-pagination .pagination li a {
    border: none;
    color: #000000;
    border-radius: 0;
  }
  .nav-pagination .pagination li a:hover {
    background: #d6ab60;
    color: #ffffff;
  }


/* -------------------------------------------

11. Post page

------------------------------------------- */

  .lrs-post-page .lrs-post-page-img img {
    width: 100%;
  }
  .lrs-post-page .form_search .input-group .form-control {
    border-color: #d6ab60;
    font-weight: 100;
  }
  .lrs-post-page .form_search .input-group .form-control:focus {
    border-color: #d6ab60;
  }
  .lrs-post-page .form_search .input-group .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #d6ab60;
  }
  .lrs-post-page .form_search .input-group .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #d6ab60;
  }
  .lrs-post-page .form_search .input-group .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #d6ab60;
  }
  .lrs-post-page .form_search .input-group .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #d6ab60;
  }
  .lrs-post-page .form_search .input-group .input-group-btn button {
    color: #ffffff;
    background: #d6ab60;
    border-color: #d6ab60;
  }
  .lrs-post-page .form_search .input-group .input-group-btn button:hover {
    background: #d6ab60;
  }
  .lrs-post-page .popular_posts {
    display: inline-block;
  }
  .lrs-post-page .popular_posts h2 {
    font-size: 18px;
    color: #d6ab60;
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: lighter;
  }
  .lrs-post-page .popular_posts ul {
    padding: 0;
    margin: 0;
  }
  .lrs-post-page .popular_posts ul li {
    float: left;
    margin-bottom: 10px;
    width: 100%;
  }
  .lrs-post-page .popular_posts .post_media {
    margin-right: 15px;
    float: left;
  }
  .lrs-post-page .popular_posts .post_media img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
  }
  .lrs-post-page .popular_posts .post_title {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: lighter;
    line-height: 1.4;
  }
  .lrs-post-page .popular_posts .post_info {
    font-size: 12px;
    color: #d6ab60;
    font-weight: 100;
    margin-top: 5px;
  }
  .lrs-post-page .tag {
    display: inline-block;
  }
  .lrs-post-page .tag h2 {
    font-size: 18px;
    color: #d6ab60;
    margin-top: 0;
    margin-bottom: 25px;
  }
  .lrs-post-page .tag .t a {
    color: #d6ab60;
    font-size: 14px;
    padding: 2px 10px;
    border: 1px solid #d6ab60;
    display: inline-block;
    margin: 2px;
    float: left;
    font-weight: 100;
  }
  .lrs-post-page .tag .t a:hover {
    background: #d6ab60;
    color: #ffffff;
  }
  .lrs-post-page .categories {
    display: inline-block;
    width: 100%;
  }
  .lrs-post-page .categories h2 {
    color: #d6ab60;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: lighter;
  }
  .lrs-post-page .categories li {
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .lrs-post-page .categories li a {
    font-size: 14px;
    width: 100%;
    color: #b3b3b3;
    font-weight: 100;
  }
  .lrs-post-page .categories li a span {
    float: right;
  }
  .lrs-post-page .categories li a:hover {
    color: #d6ab60;
  }
  .lrs-post-page .lrs-post-page-title {
    text-align: left;
    font-weight: bold;
    margin-top: 0;
    font-size: 26px;
    line-height: 1.3;
  }
  .lrs-post-page .lrs-post-page-content .lrs-post-page-category {
    text-align: center;
    display: block;
    margin: 25px auto;
  }
  .lrs-post-page .lrs-post-page-post_comments .lrs-post-page-comments {
    margin-top: 25px;
  }
  .lrs-post-page .lrs-post-page-post_comments .lrs-post-page-comments .lrs-post-page-img {
    float: left;
    margin-right: 15px;
  }
  .lrs-post-page .lrs-post-page-post_comments .lrs-post-page-comments .lrs-post-page-img img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
  }
  .lrs-post-page .lrs-post-page-post_comments .lrs-post-page-comments .lrs-post-page-content {
    display: table;
  }
  .lrs-post-page .lrs-post-page-post_comments .lrs-post-page-comments .lrs-post-page-content span {
    font-size: 12px;
    color: #b3b3b3;
  }
  .lrs-post-page .lrs-post-page-post_comments .lrs-post-page-comments .lrs-post-page-content .lrs-post-page-replay {
    font-size: 12px;
    color: #d6ab60;
    float: right;
  }
  .lrs-post-page .lrs-post-page-post_comments .lrs-post-page-comments .lrs-post-page-content .lrs-post-page-message {
    margin: 15px 0 0;
  }
  .lrs-post-page .lrs-post-page-post_comments .lrs-post-page-comment {
    margin-top: 25px;
  }
  .lrs-post-page .lrs-post-page-post_comments .lrs-post-page-comment_replay {
    margin-top: 25px;
    margin-left: 65px;
  }
  .lrs-post-page .lrs-post-page-post_comments .form_comments .input-group {
    width: 100%;
    margin-bottom: 25px;
  }
  .lrs-post-page .lrs-post-page-post_comments .form_comments .input-group .form-control {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #b3b3b3;
    height: 50px;
    line-height: 50px;
    font-weight: 100;
    padding-left: 0;
  }
  .lrs-post-page .lrs-post-page-post_comments .form_comments .input-group .form-control:focus {
    border-bottom: 1px solid #d6ab60 !important;
  }
  .lrs-post-page .lrs-post-page-post_comments .form_comments .input-group .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #b3b3b3;
  }
  .lrs-post-page .lrs-post-page-post_comments .form_comments .input-group .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #b3b3b3;
  }
  .lrs-post-page .lrs-post-page-post_comments .form_comments .input-group .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #b3b3b3;
  }
  .lrs-post-page .lrs-post-page-post_comments .form_comments .input-group .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #b3b3b3;
  }
  .lrs-post-page .lrs-post-page-post_comments .form_comments .input-group textarea.form-control {
    height: 150px;
  }
  .lrs-post-page .lrs-post-page-post_comments .form_comments .submit {
    border: none;
    background: none;
  }
  .lrs-post-page .lrs-post-page-post_comments .form_comments .submit:hover {
    color: #d6ab60;
  }
  .lrs-color-2 {
    color: #d6ab60;
  }




/* -------------------------------------------

12. Footer/Copyright

------------------------------------------- */

  #contact {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  #contact .lrs-angle-div::after {
    display: none;
  }
  #contact .lrs-angle-div {
    padding-bottom: 0;
  }
  #contact .email {
    position: relative;
    text-decoration: underline;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 3%;
  }
  #contact .email:hover {
    color: #d6ab60;
  }
  #contact .email h5 {
    margin: 0;
  }
  #contact .social {
    margin: 50px auto;
  }
  #contact .social li {
    margin: 0 10px;
    height: 30px;
    line-height: 30px;
  }
  #contact .social li i {
    font-size: 18px;
    color: #bababa;
    transition: 0.5s;
  }
  #contact .social li:hover i {
    color: #d6ab60;
    font-size: 24px;
    transition: 0.5s;
  }
  #contact .copy_rights {
    color: #bababa;
    font-size: 12px;
    border-top: 1px solid #cccccc;
    margin-top: 25px;
    padding-top: 25px;
    margin-bottom: 25px;
    text-align: left;
  }
  .click_email {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    font-weight: lighter;
    color: #d6ab60;
    -webkit-animation: click_email 2s infinite;
    /* Chrome, Safari, Opera */
    animation: click_email 2s infinite;
  }
  .click_email i {
    font-size: 18px;
    position: relative;
    top: 2px;
  }


  @-webkit-keyframes click_email {
    0% {
      right: -100px;
    }
    50% {
      right: -125px;
    }
    100% {
      right: -100px;
    }
  }
  @-moz-keyframes click_email {
    0% {
      right: -100px;
    }
    50% {
      right: -125px;
    }
    100% {
      right: -100px;
    }
  }
  @-o-keyframes click_email {
    0% {
      right: -100px;
    }
    50% {
      right: -125px;
    }
    100% {
      right: -100px;
    }
  }
  @keyframes click_email {
    0% {
      right: -100px;
    }
    50% {
      right: -125px;
    }
    100% {
      right: -100px;
    }
  }



/* -------------------------------------------

13. Modals

------------------------------------------- */

  .modal {
    overflow: hidden;
  }
  .modal-open .modal {
    padding: 0 !important;
    overflow: hidden;
  }
  .lrs-modal-project .modal-dialog {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }
  .lrs-modal-project .modal-content {
    text-align: center;
    padding: 0 10% 5%;
    border-radius: 0;
    display: inline-block;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
  }
  .lrs-modal-project .modal-content .lrs-modal-project-title {
    width: 70%;
    margin: 0 auto;
    color: #d6ab60;
    line-height: 150%;
  }
  .lrs-modal-project .modal-content .lrs-modal-project-steps-title {
    margin-bottom: 0;
  }
  .lrs-modal-project .modal-content .lrs-modal-project-social li {
    font-size: 20px;
    margin: 0 5px;
    transition: 0.5s;
    color: #b3b3b3;
  }
  .lrs-modal-project .modal-content .lrs-modal-project-social li:hover {
    color: #d6ab60;
    transition: 0.5s;
  }
  .lrs-modal-project .modal-content .lrs-modal-project-content {
    width: 70%;
    margin: 3% auto;
  }
  .lrs-modal-project .modal-content .btn-modern {
    position: absolute;
    top: 2.5%;
    left: 90%;
    text-align: right;
    z-index: 99;
    width: inherit;
  }
  .lrs-modal-project .modal-content .lrs-modal-project-steps {
    text-align: left;
  }
  .lrs-modal-project .modal-content .img {
    width: 100%;
  }

  #modal_contact .modal-dialog {
    width: 50vw;
    margin: 25px auto;
  }
  #modal_contact .btn-modern {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  #modal_contact .modal-content {
    text-align: center;
    padding: 5% 10%;
    border-radius: 0;
    display: block;
    overflow-x: hidden;
    height: 100%;
  }
  #modal_contact .modal-content .form_contact .input-group {
    width: 100%;
    margin-bottom: 25px;
  }
  #modal_contact .modal-content .form_contact .input-group .form-control {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #b3b3b3;
    height: 50px;
    line-height: 50px;
    font-weight: 100;
    padding-left: 0;
  }
  #modal_contact .modal-content .form_contact .input-group .form-control:focus {
    border-bottom: 1px solid #d6ab60 !important;
  }
  #modal_contact .modal-content .form_contact .input-group .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #b3b3b3;
  }
  #modal_contact .modal-content .form_contact .input-group .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #b3b3b3;
  }
  #modal_contact .modal-content .form_contact .input-group .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #b3b3b3;
  }
  #modal_contact .modal-content .form_contact .input-group .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #b3b3b3;
  }
  #modal_contact .modal-content .form_contact .input-group textarea.form-control {
    height: 150px;
  }
  #modal_contact .modal-content .form_contact .submit {
    border: 1px solid #d6ab60;
    background: none;
    color: #d6ab60;
    padding: 5px 50px;
    transition: 0.5s;
  }
  #modal_contact .modal-content .form_contact .submit:hover {
    color: #ffffff;
    background: #d6ab60;
    transition: 0.5s;
  }



/* -------------------------------------------

14. Skills section

------------------------------------------- */

  .lrs-progress .lrs-progress-bar .progress .progress-bar {
    background-color: #d6ab60;
  }
  #skills .left {
    padding-right: 5%;
    padding-left: 0;
  }
  #skills .right {
    padding-left: 5%;
    padding-right: 0;
  }
  #skills .progress {
    background-color: #ddd;
  }